<% layout("layouts/boilerplate") -%>
    <h1>VENUE</h1>
    <h2>Venue Name: <%= venue.name %>
    </h2>
    <p>Location: <%= venue.location %>
    </p>
    <p>
        RM <%= venue.price %>
    </p>
    <img src="<%= venue.img %>" alt="">
    <p>
        <%= venue.desc %>
    </p>
    <a href="/venue/<%= venue._id %>/edit">Edit</a>
    <a href="/venue">back</a>
    <form action="/venue/<%= venue._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>